@import "/node_modules/include-media/dist/include-media";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2"),
    url("/fonts/Inter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e7eb;
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.wrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  &.no-goo {
    .button-content {
      .button-content-inner {
        filter: none !important;
        .search-results {
          .search-result {
            padding: 7.5px 10px;
          }
        }
        .search-btn {
          padding: 5px 10px;
          .search-text {
            pointer-events: none;
            text-align: center;
            position: relative;
            left: 0;
          }
        }
        .separate-element {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  .button-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .button-content-inner {
      filter: url(#goo-effect);
      cursor: pointer;
      max-width: max-content;
      .search-results {
        position: relative;
        z-index: -1;
        .search-result {
          background-color: #000000;
          border-radius: 40px;
          padding: 12.5px 20px;
          width: 100%;
          color: #ddd;
          position: absolute;
          left: -30px;
          font-size: 14px;
          .search-result-title {
            display: flex;
            align-items: center;
            gap: 1px;
            span {
              position: relative;
              top: -0.35px;
            }
            svg {
              position: relative;
              top: 2px;
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      .search-btn {
        color: #ddddddaf;
        cursor: pointer;
        letter-spacing: -0.5px;
        background-color: #000000;
        outline: none;
        border: none;
        border-radius: 9999px;
        padding: 10px 20px;
        .search-text {
          pointer-events: none;
          text-align: center;
          position: relative;
          left: 4px;
        }
        .search-input {
          width: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          color: #dddddd;
        }
      }

      .separate-element {
        position: absolute;
        background-color: #000000;
        width: 46px;
        height: 46px;
        right: -5px;
        top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        @include media("<tablet") {
          scale: 1.1;
          top: 2px;
        }

        svg {
          width: 20px;
          height: 20px;
          @include media("<tablet") {
            width: 24epx;
            height: 24px;
          }
          path {
            fill: #dddddd;
          }
          &.loading-icon {
            width: 20px;
            height: 20px;
            animation: rotate 0.5s linear infinite;
            transform-origin: center center;

            @keyframes rotate {
              100% {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
